@charset "utf-8"; 

/* main */
.main {position: relative;}
.main .content_area {padding-bottom: 0;}
.main .header {position: absolute; top: 0; left: 0; width: 100%; z-index: 10;}
.header.align_c .header_inner {justify-content: center;}
.header.align_c .header_inner .header_title .page_title {padding: 0; color: #333; font-weight: 500; font-size: 20px;}
.main .header.align_c .header_inner .header_title .page_title {color: #fff;}
.main_swiper {position: relative; background: #333; height: 100%;}
.main_swiper .swiper-slide {position: relative;}
.main_swiper .swiper-slide > a {display: block; height: 100%; width: 100%;}
.main_swiper .swiper_cont {position: relative; display: flex; align-items: center; justify-content: center; height: 100%;}
.main_swiper .swiper_cont h3 {color: #fff; font-size: 30px; text-align: center;}
.main_swiper .img_area {width: 100%; height: 100%; overflow: hidden;}
.main_swiper .img_area img {width: 100%;}
.main_swiper .swiper-button-prev, .swiper-button-next {width: 50px; height: 50px; background: rgba(255,255,255,.3); border-radius: 50%; color: #fff; text-align: center; padding: 13px;}
.main_swiper .swiper-button-prev:after, .swiper-button-next:after {font-size: 20px;}
.main_cont {position: relative; margin-top: -120px; z-index: 1;}
.main .search_wrap {position: relative; margin: 0 20px;}
.main .search_wrap .search_bar {background-color: #fff;}
.main .search_wrap + .sale_list_wrap {margin-top: 30px;}
.main .sale_list_wrap {padding: 40px 30px 160px; background: #eee;}

/* sale list */
.nft_detail_wrap .act_bar {display: flex; justify-content: space-between; align-items: center; width: 100%; height: 50px; padding: 0 20px; border-bottom: 1px solid #ddd;}
.nft_detail_wrap .nft_img {position: relative;}
.sale_list_wrap {padding: 0; border-radius: 30px 30px 0 0;}
.sale_list_wrap .sub_tit_wrap {display: flex; justify-content: space-between; align-items: center;}

/* detail */
.share_btn {display: inline-block;}
.share_btn:before {content: ''; display: block; width: 30px; height: 30px; background: url('../img/common/ico_share.png')no-repeat; background-size: 100%;}
.detail_cont .nft_info {margin-top: 30px; padding: 0 20px;}
.detail_cont .nft_info .nft_name {font-size: 20px; font-weight: 700;}
.detail_cont .nft_info .char_name {display: flex; align-items: center; margin-top: 6px;}
.detail_cont .nft_info .char_name > p {font-size: 15px; color: #555;}
.detail_cont .nft_info .author_info p + p:before,
.detail_cont .nft_info .char_name > p + p:before {content: ''; display: inline-block; width: 1px; height: 10px; margin: 0 10px; background: #ddd;}
.detail_cont .nft_info .author_info {display: flex; margin-top: 10px;}
.detail_cont .nft_info .author_info > p {font-size: 14px; color: #999;}
.detail_cont .nft_info .author_info + .ip_name {margin-top: 10px;}
.detail_cont .nft_info .ip_name > a {color: #6166FF;}
.detail_cont .cont_list_wrap {margin-top: 40px;}
.detail_cont .cont_list_wrap .accord_wrap + .accord_wrap {margin-top: 40px;}
.detail_cont .cont_list_wrap .accord_wrap .accord_item {padding: 0 20px;}
.detail_cont .cont_list_wrap .accord_item + .accord_item {margin-top: 40px;} 
.detail_cont .cont_list_wrap .accord_item .accord_btn + .accord_cont {margin: 0;}
.detail_cont .nft_publi_info {padding: 20px; background: #f7f7f7;}
.detail_cont .nft_publi_info dl {display: flex; justify-content: space-between;}
.detail_cont .nft_publi_info dl + dl {margin-top: 20px;}
.detail_cont .nft_publi_info dl dt {font-size: 14px;}
.detail_cont .nft_publi_info dl dd {font-size: 16px;}
.detail_cont .nft_publi_info dl dd span {padding-right: 5px; font-weight: 500;}
.detail_cont .nft_publi_info dl dd > a {color: #6166FF;}
.detail_cont .sale_list,
.detail_cont .total_trans_wrap {position: relative; height: 200px; overflow-y: auto;}
.detail_cont .total_trans_wrap .no_result_area {margin: 0 auto; padding: 60px 0; text-align: center; font-size: 14px;}
.detail_cont .btn_group + .refer {margin-top: 20px; font-size: 12px; color: #999;}
.detail_cont .sale_list table tr {position: relative;}
.detail_cont .sale_list table tr th {background: #fff;}
.detail_cont .sale_list table tr td {background: #fff;}
.detail_cont .sale_list table tr:nth-child(odd) td {background: #F6F3FF;}
.detail_cont .sale_list table td label {position: absolute; top: 0; left: 0; width: calc(100% - 10px); height: 100%;}
.detail_cont dl + .sale_list, 
.detail_cont .sale_list + dl {margin-top: 30px;}
.detail_cont .sale_list + .btn_group {margin-top: 40px;}
.detail_cont .sale_list table td.checkbox_wrap input[type="radio"] + label:before {position: absolute; left: 15px; top: 10px; opacity: .8;}
.nft_trans_wrap {margin-top:20px}
.detail_cont .cont_list_wrap .accord_wrap .accord_item.full_type {padding: 0;}
.detail_cont .cont_list_wrap .accord_wrap .accord_item.full_type .accord_btn {margin: 0 auto; width: calc(100% - 40px);}
.detail_cont .cont_list_wrap .accord_wrap .accord_item.full_type .inner_txt {padding: 40px 20px 50px;}
/* card box wrap */
.card_box_wrap .box_item {padding: 30px; border-radius: 20px; background: #f7f7f7;}
.card_box_wrap .box_item .no_result {text-align: center;}
.card_box_wrap .box_item .no_result + .btn_group {margin-top: 20px;}
.card_box_wrap .box_item + .box_item {margin-top: 20px;}
.card_box_wrap .box_item dl {display: flex; justify-content: space-between; align-items: center;}
.card_box_wrap .box_item dl + dl {margin-top: 20px;}
.card_box_wrap .box_item dl dt {font-size: 14px;}
.card_box_wrap .box_item dl dd {font-size: 16px;}
.card_box_wrap .box_item dl dd > span {margin-right: 5px; font-size: 20px; font-weight: 700;}
.card_box_wrap .box_item dl + .btn_group {margin-top: 40px;}
.card_box_wrap .box_item .regist_quant,
.card_box_wrap .box_item .final_price {margin-top: 30px; padding-top: 30px; border-top: 1px solid #ddd;}
.card_box_wrap .box_item .final_price dd > span {font-size: 30px;}
.card_box_wrap .box_item .box_tit {display: flex; justify-content: space-between; align-items: center;}
.card_box_wrap .box_item .perchase_quant select {background: none; font-size: 20px; font-weight: 700; border-bottom: 1px solid #ddd; }
.card_box_wrap .box_item.my_point {background: #6166FF;}
.card_box_wrap .box_item.my_point .box_tit > p {font-size: 14px; color: #fff;}
.card_box_wrap .box_item.my_point .box_tit span {font-size: 14px; color: #fff;}
.card_box_wrap .box_item.my_point .point {text-align: right; margin-top: 50px; color: #fff; font-size: 16px;}
.card_box_wrap .box_item.my_point .point > span {margin-right: 10px; font-size: 30px; font-weight: 700; color: #fff;}

/* 결제내역인출내역 */

/* nft 속성 */
.nft_property_wrap {margin-top: 20px;}
.nft_property_wrap .property_list {display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px;}
.nft_property_wrap .property_list li {display: flex; flex-direction: column; justify-content: center; padding: 10px; width: 100%; min-height: 80px; text-align: center; border: 1px solid #6166FF; background: #F7F7F7; border-radius: 10px;}
.nft_property_wrap .property_list li > span {font-size: 10px; color: #6166FF; text-transform: uppercase;}
.nft_property_wrap .property_list li > p {font-size: 14px; color: #333; text-transform: uppercase;}
/* 캐릭터 특성 */
.character_detail {margin-top: 20px;}
.character_detail img {width: 100%;}
.character_detail .img_area + .btn_group {margin-top: 40px;}
.character_detail .btn_group + .img_area {margin-top: 60px;}
.character_detail .img_area + .img_area {margin-top: 50px;}
.character_detail .inner_txt {padding: 40px 0 50px;}
.character_detail .inner_txt > strong {display: block; font-size: 32px; font-weight: 700; text-align: center;}
.character_detail .inner_txt > span {display: block; margin-top: 5px; font-size: 16px; font-weight: 500; text-align: center;}
.character_detail .inner_txt .sub_tit {margin-top: 20px; font-size: 16px; text-align: center;}
.character_detail .inner_txt .txt {margin-top: 20px; font-size: 14px; line-height: 21px;}
/* item_list */
.item_wrap {margin-top: 10px;}
.item_wrap[class*="row"] {display: grid; grid-gap: 20px; gap: 20px;}
.item_wrap[class*="row"][class*="_1"] {grid-template-columns: 1fr;}
.item_wrap[class*="row"][class*="_2"] {grid-template-columns: repeat(2, 1fr);}
.item_wrap .item {position: relative; border-radius: 10px; overflow: hidden;}
.item_wrap .item .item_img {position: relative; overflow: hidden; height: auto;} 
.item_wrap .item .item_img img {width: 100%;}
.item_wrap .item .item_info {padding: 20px; background: #fff;}
.item_wrap .item .item_info .nft_name {font-size: 18px; color: #6166FF; font-weight: 500;}
.item_wrap .item .item_info .char_name {display: flex;}
.item_wrap .item .item_info .char_name > p {margin-top: 3px; font-size: 14px; color: #555;}
.item_wrap .item .item_info .char_name > p + p::before {content: '|'; display: inline-block; margin: 0 5px; font-size: 5px; vertical-align: 3px;}
.item_wrap .item .item_info .ip_name {margin-top: 5px; font-size: 13px; color: #999;}
.item_wrap .item .item_info .point_area {width: 100%; text-align: right;}
.item_wrap .item .item_info .point_area .result_num {font-size: 16px; color: #999;}
.item_wrap .item .item_info .point_area .result_num > span {padding-right: 3px; color: #999;}
.item_wrap .item .item_info .point_area .value {font-size: 18px; color: #555;}
.item_wrap .item .item_info .point_area .value > span {padding-right: 5px; font-size: 30px; font-weight: 700;}
.status_badge {position: absolute; top: 15px; left: 15px; z-index: 1;}
.status_badge span {padding: 4px 10px; font-size: 13px; color: #fff; border-radius: 3px;}
.on_sale .status_badge span {background: #000;}
.end_sale .status_badge span {background: #BF0000;}
.wait .status_badge span {background: #555;}
.end_sale.sold_out::before{content: ''; display: block; position: absolute; top: 50%; right: 20px; transform: translateY(-50%); width: 80px; height: 80px; background: url('../img/market/ico_soldout_badge.png')no-repeat; z-index: 1; background-size: 100%;}
.item_wrap + .btn_group {margin-top: 40px;}

/* item_list row2 (marketplace) */
.item_wrap.row_2 .item {border: 1px solid #ddd;}
.item_wrap.row_2 .item .item_info {padding: 10px;}
.item_wrap.row_2 .item_info .top_area .nft_name {font-size: 13px; font-weight: 500; color: #000;}
.item_wrap.row_2 .item_info .top_area .char_name > p {margin-top: 5px; font-size: 12px; color: #999;}
.item_wrap.row_2 .item_info .top_area .ip_name {margin-top: 5px; font-size: 12px; color: #6166FF;}
.item_wrap.row_2 .item_info .top_area .nft_price {margin-top: 10px; text-align: right; font-size: 14px; color: #666;}
.item_wrap.row_2 .item_info .top_area .nft_price .min {padding-right: 3px; font-size: 14px; font-weight: 500;}
.item_wrap.row_2 .item_info .top_area .nft_price .max {padding: 0 3px; font-size: 18px; font-weight: 500;}
.item_wrap.row_2 .item_info .bottom_area {display: flex; justify-content: space-between; align-items: center; height: 30px; margin-top: 10px; padding-top: 10px; border-top: 1px solid #ddd;}
.item_wrap.row_2 .item_info .bottom_area .result_num {padding: 2px 7px 3px; background: #555; border-radius: 20px; color: #fff; line-height: 13px;}
.item_wrap.row_2 .item_info .bottom_area .result_num > span {display: inline-block; margin: 0 2px 0 0; font-size: 12px; color: #fff;}
.item_wrap.row_2 .item_info .bottom_area .result_num span + span {margin: 0 0 0 2px;}
.item_wrap .item.vod:before {content: ''; display: block; position: absolute; top: 10px; right: 10px; width: 30px; height: 24px; background: url('../img/common/ico_camera.png')no-repeat; background-size: 100%; z-index: 1;}
/* login area */
.login_area .logo_title {display: block; padding: 50px 0 60px; margin: 0 auto; width: 162px; text-align: center;}
.login_area .login_sns_area {margin-top: 50px;}
.login_area .login_sns_area .tit_area {position: relative; width: 100%; margin: 0 auto; text-align: center;}
.login_area .login_sns_area .tit_area > span {position: relative; margin: 0 auto; padding: 0 15px; text-align: center; color: #888; background: #fff; z-index: 2;}
.login_area .login_sns_area .tit_area:after {content: ''; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 1px; background: #ddd; z-index: 1;}
.login_area .board_form .form_group .btn_group {margin-top: 30px;}
.login_area .board_form .form_group .input_group .input_text {border-radius: 10px; border: 1px solid #eee;}

/* temporary_pw */
.publish_info ul > li {display: flex;}
.publish_info ul > li + li {margin-top: 10px;}
.publish_info ul > li > p {width: 120px; color: #888;}
.publish_info ul > li > span {margin-left: 20px; font-weight: 500;}
.publish_info + .btn_group {margin-top: 30px;}

/* my */
.my_info .header {background: #6166FF;}
.my_info .header .page_title {color: #fff;}
.my_info .header .header_title i[class^="ico"][class*="arr"][class*="left"]:before {width: 10px; height: 20px; background: url('../img/common/ico_arr_left_wh.png')no-repeat; background-size: 10px;}
.info_wrap {position: relative;}
.info_wrap .info_header {padding: 30px 20px 30px 20px; background: #6166FF;}
.info_wrap .info_header .user_info {display: flex; align-items: center;}
.info_wrap .info_header .user_info .user_id {margin-left: 10px;}
.info_wrap .info_header .user_info .user_id p {font-size: 24px; font-weight: 500; color: #fff;}
.info_wrap .info_header .user_info .user_id span {display: inline-block; margin: 3px 0 0 0; font-size: 16px;  color: #fff; font-weight: 400;}
.info_wrap .info_header .user_info .user_id .login_btn {font-size: 16px; color: #fff;}
.info_wrap .info_header .user_info .user_id .login_btn span {position: relative; display: inline-block; margin: 3px 5px 0 0; font-size: 18px;  color: #fff; font-weight: 700;}
.info_wrap .info_header .user_info .user_id .login_btn span:after {content: ''; display: block; width: 100%; height: 2px; background: #fff;}
.info_wrap .info_header .user_profile {width: 60px; height: 60px; border-radius: 50%; background: #fff; border: 5px solid #CDCEFF; font-size: 30px; text-align: center; line-height: 50px;}
.info_wrap .info_header .info_setting {display: block; margin-left: auto; width: 30px; height: 30px;}
.info_wrap .ddp_wrap {position: relative; margin-top: -30px; transform: translateY(60px); padding: 20px; background: #fff; border-radius: 20px; box-shadow: 3px 3px 10px rgba(0,0,0,.1)}
.info_wrap .ddp_wrap .tit {font-size: 14px;}
.info_wrap .ddp_wrap .my_point {margin-top: 10px; width: 100%; text-align: right; text-transform: uppercase; font-size: 20px;}
.info_wrap .ddp_wrap .my_point span {padding-right: 5px; font-size: 35px; font-weight: 700; text-align: right;}
.info_wrap .ddp_wrap .bot_area {display: flex; justify-content: space-between; align-items: center; margin-top: 20px;}
.info_wrap .ddp_wrap .bot_area .charge span {color: #6166FF; font-weight: 500;}
.info_wrap .ddp_wrap .bot_area .money {font-size: 14px;}
.info_wrap .ddp_wrap .bot_area .money span {padding-right: 3px; font-size: 18px;}
.inner_wrap .gnb_list_wrap.first {margin-top: 60px;}
.inner_wrap .gnb_list_wrap {margin-top: 30px;}
.inner_wrap .gnb_list_wrap + .gnb_list_wrap {padding-top: 30px; border-top: 1px solid #ddd;}
.inner_wrap .gnb_list_wrap .gnb_tit .tit::before {content: ''; display: inline-block; margin: -3px 5px 0 0; width: 3px; height: 14px; background: #6166FF; border-radius: 3px; vertical-align: middle;}
.inner_wrap .gnb_list_wrap .order_list {display: grid; grid-template-columns: repeat(3, 1fr); gap: 30px; margin-top: 30px; font-size: 15px; font-weight: 500;}
.inner_wrap .gnb_list_wrap .order_list li {text-align: center;}
.inner_wrap .gnb_list_wrap .order_list li .icon {margin: 0 auto 5px; width: 30px;}
.inner_wrap .gnb_list_wrap .notice_list {margin-top: 20px; padding: 0 10px;}
.inner_wrap .gnb_list_wrap .notice_list li {font-size: 15px; font-weight: 500;}
.inner_wrap .gnb_list_wrap .notice_list li + li {margin-top: 20px;}
.info_wrap .logout_btn {position: absolute; top: -45px; right: 20px;}
.info_wrap .logout_btn span {padding-left: 35px; font-size: 18px; vertical-align: -webkit-baseline-middle; color: #fff;}
.info_wrap.modify .info_header {padding: 50px 0; margin-bottom: 40px;}
.info_wrap.modify .info_header .my_profile {margin: 0 auto; width: 80px; height: 80px; border-radius: 50%; background: #fff; border: 5px solid #CDCEFF; font-size: 35px; text-align: center; line-height: 70px;}
 
/* my nft */
.my_nft .content_area {padding-bottom: 0; background: #f7f7f7;}
.my_nft .inner_wrap {padding: 40px 20px 100px;}
.my_nft .nft_list .sub_tit_wrap {display: flex; justify-content: space-between;}
.my_nft .nft_list .sub_tit_wrap .total_num p {font-size: 13px; color: #999;}
.my_nft .nft_list .sub_tit_wrap .total_num p > span {padding: 0 5px; font-size: 16px; font-weight: 500;}
.my_nft .nft_list .sub_tit_wrap + .list_wrap {margin-top: 10px;}
.my_nft .nft_list .sub_tit_wrap .top_btn_group {display: flex;}
.my_nft .nft_list .sub_tit_wrap .top_btn_group .allcheck_wrap label,
.my_nft .nft_list .sub_tit_wrap .top_btn_group > button {font-size: 13px; font-weight: 500; color: #555;}
.my_nft .nft_list .sub_tit_wrap .top_btn_group > button {margin-left: 10px;}
.my_nft .nft_list .list_wrap .status_badge {position: absolute; top: 15px; left: unset; right: 15px;}
.my_nft .nft_list .list_wrap .status_badge span {background: #6166FF;}
.my_nft .nft_list .list_wrap li {position: relative; padding: 15px; border-radius: 10px; box-shadow: 5px 5px 15px rgba(40,40,40,.1); background: #fff;}
.my_nft .nft_list .list_wrap li + li {margin-top: 20px;}
.my_nft .nft_list .list_wrap .author_wrap {display: flex; justify-content: flex-start;}
.my_nft .nft_list .list_wrap .author_wrap p {font-size: 13px; color: #999;}
.my_nft .nft_list .list_wrap .author_wrap p + p:before {margin: 0 5px; content: ''; display: inline-block; width: 1px; height: 10px; background: #999;}
.my_nft .nft_list .list_wrap .nft_wrap {display: flex; justify-content: flex-start; align-items: center;}
.my_nft .nft_list .list_wrap .char_img {width: 120px; height: 120px; background: #ddd; border-radius: 10px; overflow: hidden;}
.my_nft .nft_list .list_wrap .char_img img {width: 100%;}
.my_nft .nft_list .list_wrap .info_wrap {flex: 1; margin-left: 15px; overflow: hidden;}
.my_nft .nft_list .list_wrap .info_wrap .nft_name {display: inline-block; max-width: 100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-size: 16px; font-weight: 500;}
.my_nft .nft_list .list_wrap .status_badge + .nft_wrap .nft_name {max-width: calc(100% - 60px);}
.my_nft .nft_list .list_wrap .info_wrap .amount_wrap {display: flex; flex-direction: column; justify-content: center; gap: 5px; align-items: flex-start; margin-top: 10px; padding: 10px; border-radius: 5px; background: #f7f7f7;}
.my_nft .nft_list .list_wrap .info_wrap .amount_wrap > p {font-size: 13px; color: #999;}
.my_nft .nft_list .list_wrap .info_wrap .amount_wrap > p > span {padding: 0 3px; font-weight: 500; color: #333;}
.my_nft .nft_list .list_wrap .info_wrap .avg_price {margin-top: 10px; text-align: right;}
.my_nft .nft_list .list_wrap .info_wrap .avg_price p {font-size: 13px; color: #555;}
.my_nft .nft_list .list_wrap .info_wrap .avg_price p > span {padding: 0 5px; font-size: 18px; color: #333; font-weight: 500;}
.my_nft .nft_list .list_wrap .info_wrap .char_name span {font-size: 14px; color: #555;}
.my_nft .nft_list .list_wrap .info_wrap .ip_name {margin-top: 10px; font-size: 13px; color: #6166FF;}

.my_nft .nft_list .list_wrap + .btn_group {margin-top: 40px;}
.my_nft .nft_list .list_wrap .wish_list {padding: 0; border-radius: 0; box-shadow: unset; background: none;}
.my_nft .nft_list .list_wrap .wish_list label {display: block; padding: 15px; border-radius: 10px; box-shadow: 5px 5px 15px rgba(40,40,40, .1); overflow: hidden; background: #fff; border: 3px solid transparent;} 
.my_nft .nft_list .list_wrap .wish_list input {display: none;}
.my_nft .nft_list .list_wrap .wish_list input:checked + label {border-color: #6166FF;}
.my_nft .nft_list .list_wrap .wish_list input:checked + label:before {content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
/* wallet */
.my_wallet_wrap {position: relative; margin: 20px 0 0;}
.my_wallet_wrap .box_item.my_point {padding: 20px; background: #fff; border: 1px solid #6166FF;}
.my_wallet_wrap .box_item.my_point .box_tit p,
.my_wallet_wrap .box_item.my_point .point,
.my_wallet_wrap .box_item.my_point .point > span {color: #6166FF;}
.my_wallet_wrap .box_item .convert_amount {display: flex; justify-content: space-between; padding-top: 10px; margin-top: 10px; border-top: 1px solid #ddd;}
.my_wallet_wrap .box_item .convert_amount p {font-size: 14px;}
.my_wallet_wrap .box_item .convert_amount .price > span {padding-right: 5px; font-size: 16px; font-weight: 500;}
.my_wallet_wrap .tab_wrap .tab_btn button.on {border-color: #6166FF; color: #6166FF;}
.my_wallet_wrap .increase_btn_wrap {display: grid; grid-template-columns: repeat(5, 1fr); gap: 5px; margin-top: 30px;}
.my_wallet_wrap .increase_btn_wrap button {height: 40px; border: 1px solid #999; border-radius: 5px; font-size: 16px; font-weight: 500;}
.my_wallet_wrap .board_form  {margin-top: 20px;}
.board_form .input_group .input_text.type2 {padding-right: 60px; text-align: right; font-size: 20px;}
.board_form .input_group .input_text.type2 + span {position: absolute; right: 0; top: 14px;  font-size: 20px; font-weight: 400;}
.my_wallet_wrap .board_form .convert_price {margin-top: 10px; text-align: right;}
.my_wallet_wrap .board_form .convert_price > span {padding-right: 5px;}
.my_wallet_wrap .board_form + .btn_group {margin-top: 60px;}
.my_wallet_wrap .possible_point {display: flex; justify-content: space-between; align-items: center; margin-top:40px;}
.my_wallet_wrap .possible_point p {font-size: 14px; color: #555;}
.my_wallet_wrap .possible_point .point {font-size: 16px; color: #555;}
.my_wallet_wrap .possible_point .point > span {padding-right: 5px; font-size: 25px; font-weight: 700; color: #333;}

/* 계좌인증 인증번호 */
.bank_auth .content_area {padding: 0;}
.bank_auth .img {margin-top: 30px; text-align: center;}
.bank_auth .board_form .form_group .input_text {background: #f7f7f7; border: 1px solid #6166FF; border-radius: 10px;}
.bank_auth .inner_wrap {margin-top: 20px;}
.bank_auth .point_box {padding: 30px 20px; background: #6166FF;}
.bank_auth .point_box .point_note {margin: 0;}
.bank_auth .point_box .point_note li {color: #fff;}
.bank_auth .point_box .btn_group {margin-top: 20px;}
.bank_auth .point_box .btn_group button span {color: #6166FF;}

/* 공지,이벤트 페이지 */
.list_detail .detail_top p {font-size: 16px; line-height: 22px; font-weight: 700; color: #333;}
.list_detail .detail_top span {display: inline-block; margin-top: 10px; font-size: 13px; color: #999;}
.list_detail .detail_top + .detail_cont {margin-top: 20px; padding-top: 20px; border-top: 1px solid #ddd;}
.list_detail .detail_top .badge {margin-right: 5px; padding: 1px 5px 2px; font-size: 13px; background: #6166FF; color: #fff; font-weight: 500;}
.list_detail .detail_cont img {width: 100%;}
.list_detail .detail_cont dl {margin-top: 40px;}
.list_detail .detail_cont dl dt {font-size: 16px; font-weight: 500; color: #333;}
.list_detail .detail_cont dl dd {margin-top: 10px; font-size: 14px; color: #555;}
.list_detail .detail_cont + .btn_group {margin-top: 40px;}
.list_detail .detail_cont .txt + .txt,
.list_detail .detail_cont img + .txt,
.list_detail .detail_cont .txt + img {margin-top: 20px;}
.list_detail .detail_cont .txt {font-size: 14px;}
.list_detail .detail_cont .txt a {color: #6166FF;}

/* faq */
.faq .list_tit {padding: 0 20px;}
.faq .accord_wrap {margin-top: 10px;}
.faq .accord_wrap .accord_item:nth-child(1) .accord_btn {border-top: 2px solid #333;}
.faq .accord_wrap .accord_item .accord_btn {position: relative; width: calc(100% - 40px); margin: 0 auto; padding: 30px 40px 30px 40px; border-color: #ddd;}
.faq .accord_wrap .accord_item .accord_btn > p {font-size: 16px;}
.faq .accord_wrap .accord_item .accord_btn::before {content: 'Q'; display: inline-block; position: absolute; left: 10px; top: 50%; transform: translateY(-50%); font-size: 18px; font-weight: 700;}
.faq .accord_wrap .accord_item .accord_cont {position: relative; margin-top: 0; padding: 20px 20px 30px 60px; background: #f7f7f7;}
.faq .accord_wrap .accord_item .accord_cont:before {content: 'A'; display: inline-block; position: absolute; left: 30px; top: 20px; font-size: 18px; font-weight: 700; color: #6166FF;}
.faq .accord_wrap .accord_item .accord_cont p {font-size: 13px; color: #555; line-height: 1.3;}
.faq .accord_wrap .accord_item .accord_cont p + p {margin-top: 15px;}
.faq .accord_wrap .accord_item .accord_cont p > strong {display: block; margin-bottom: 5px; font-weight: 500; font-size: 14px; line-height: 1.2; color: #333;}


/* about */
.about .content_area {padding-bottom: 0;}
.section_wrap .section .tit_wrap {margin: 0;}
.section_wrap .section .tit_wrap h2.tit {font-size: 40px; font-weight: 500;}
.section_wrap .section .tit_wrap h2.tit > em {font-weight: 700;}
.section_wrap .section .tit_wrap > p {margin-top: 5px; font-size: 18px;}
.section_wrap .section .section_tit {padding: 0 30px; text-align: center;}
.section_wrap .section .section_tit h3 {font-size: 22px; font-weight: 500;}
.section_wrap .section .section_tit p {margin-top: 10px; font-size: 14px; line-height: 20px;}

/* customer */
.customer_wrap .customer_box {padding: 50px 40px; width: 100%; height: 383px; background-color: #6166FF; border-radius: 20px; text-align: center; background-image: url('../img/etc/img_customer.png'); background-repeat: no-repeat; background-size: contain; background-position: center bottom;}
.customer_wrap .customer_box > em {font-size: 16px; color: #fff; font-weight: 500;}
.customer_wrap .customer_box > p {margin-top: 10px; font-size: 28px; color: #fff; font-weight: 700;}
.customer_wrap .customer_txt {margin-top: 40px; font-size: 14px; color: #555; line-height: 1.4;}
.customer_wrap .customer_txt + .btn_group {margin-top: 30px;}

/* section want */
.section_wrap .section {position: relative; padding: 40px 0; min-height: 550px; }
.section.top:before {content: ''; display: block; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 380px; height: 100%; background: url('../img/etc/img_bogo_mic.png')no-repeat center bottom; background-size: 100%;}
.section.top .tit_wrap h2,
.section.top .tit_wrap p {color: #fff;}
.section.top .tit_wrap em {color: #9FFF5F;}
.section .section_tit em {display: inline-block; position: relative; margin: 30px 0;}
.section .section_tit em:before {content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(45deg); width: 30px; height: 30px; border: 2px solid #fff;}
.section .section_tit em,
.section .section_tit h3,
.section .section_tit p {color: #fff;}
.section.want:before {content: ''; display: block; position: absolute; bottom: -80px; left: -20px; width: 375px; height: 100%; background: url('../img/etc/img_hand.png')no-repeat bottom center; background-size: 100%; z-index: 1;}
.section.want:after {content: ''; display: block; position: absolute; bottom: 70px; left: 50%; width: 166px; height: 230px; background: url('../img/etc/img_character_card.png')no-repeat center; background-size: 100%; animation: infinity 3s linear infinite; z-index: 2; filter: drop-shadow(0px 0px 20px #DB27FF);}
.section.top {background: url('../img/etc/bg_section1.png')no-repeat top center; background-size: cover;}
.section.want {background: url('../img/etc/bg_section2.png')no-repeat top center; background-size: cover;}
.section.value {background: #504DC6; z-index: -3;}
.section.value .char {position: absolute; left: 50%; bottom: -30px; transform: translateX(-50%); margin: 0 auto; width: 300px; z-index: 1; animation: fadeup 1s forwards linear; opacity: 1;}
.section.value .coins {position: absolute; left: 50%; bottom: -10px; transform: translateX(-46%); margin: 0 auto; width: 340px; z-index: 0; animation: fadedown 1s forwards linear; opacity: 1;}
.section.value .char img,
.section.value .coins img {width: 100%;}
.section.value .coin img {position: absolute; top: 50%; left: 50%; filter: hue-rotate(205deg); opacity: 0;}
.section.value.on .coin .coin1 {width: 180px; animation: coinAni 1.5s forwards ease-in-out; top: 40%; left: 75%; transform: translate(0) scale(0) rotate(-400deg);}
.section.value.on .coin .coin2 {width: 140px; animation: coinAni 1.5s forwards ease-in-out; top: 30%; left: -9%; transform: translate(0) scale(0) rotate(500deg);}
.section.value.on .coin .coin3 {width: 90px; animation: coinAni 1.5s forwards ease-in-out; top: 70%; left: 5%; transform: translate(0) scale(0) rotate(500deg);}
.section.value.on::before {content: ''; display: block; position: absolute; left:0; bottom: 150px; width: 365px; height: 305px; background: url('../img/etc/img_graph_arrow.png')no-repeat center; background-size: 100%; z-index: -2; animation: opacity 2s linear forwards;}
.section.value.on::after {content: ''; display: block; position: absolute; bottom: 0; width: 100%; height: 100%; background: #504DC6; z-index: -1; animation: arrowMove 1s linear forwards;}
.section.sale {height: 1000px; background: #403B9C; z-index: -4;}
.section.sale .nft_card ul li {position: absolute; left: 50%; top: 30%; transform: translateX(-50%); transition: all 1.5s ease-in-out; z-index: 1; filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, .2));}
.section.sale .nft_card ul .card01 {width: 170px; z-index: 2;}
.section.sale .nft_card ul .card02 {width: 106px;}
.section.sale .nft_card ul .card03 {width: 85px;}
.section.sale .nft_card ul .card04 {width: 98px;}
.section.sale .nft_card ul .card05 {width: 71px;}
.section.sale .nft_card ul .card06 {width: 84px;}
.section.sale.on .nft_card ul li.card02 {top: 230px; left: 90%;}
.section.sale.on .nft_card ul li.card03 {top: 250px; left: 30px;}
.section.sale.on .nft_card ul li.card04 {top: 460px; left: 10%;}
.section.sale.on .nft_card ul li.card05 {top: 420px; left: 92%;}
.section.sale.on .nft_card ul li.card06 {top: 540px; left: 75%;}
.section.sale.on .nft_card ul li img {width: 100%;}
.section.sale:after {content: ''; display: block; position: absolute; top: 40%; width: 100%; height: 1100px; background: url('/mo/img/etc/bg_last.png')no-repeat; background-size: cover; z-index: -1;}
.section.now {margin-top: -300px; z-index: -2;}
.section.now:before {content: ''; display: block; position: absolute; top: 0; width: 100%; height: 100%; background: url('/mo/img/etc/bg_now.png')no-repeat; background-size: 100%; z-index: -2;}
.section.now .logo {max-width: 110px; margin: 0 auto;}
.section.now .logo + p {margin: 25px 0 30px; color: #fff; font-size: 22px; line-height: 30px; text-align: center;}
.section.now .logo + p span {font-weight: 700; color: #fff;}
.section.now .use_img {transition: all 2s ease-in-out; transform: translateY(100px); max-width: 317px; margin: 0 auto; opacity: 0;}
.section.now.on .use_img {transform: translateY(0); opacity: 1;}
.section.now .use_img img {width: 100%; filter: drop-shadow(2px 2px 20px rgba(0,0,0, .3));}
.section.use {margin-top: -150px; height: 100%;}
.section.use::after {content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url('/mo/img/etc/bg_use.png')no-repeat; background-size: cover;}
.section.use .use_list_wrap {position: relative; margin-top: 40px; padding: 40px 15px; background: #5358E3; border-radius: 30px; z-index: 1; box-shadow: 0px 3px 10px rgba(0,0,0,.1) inset;}
.section.use .use_list_wrap ul li {display: flex; justify-content: space-between; align-items: center; gap: 15px;}
.section.use .use_list_wrap ul li + li {margin-top: 40px;}
.section.use .use_list_wrap ul li > div {flex: 1;}
.section.use .use_list_wrap ul li .img {max-width: 80px;}
.section.use .use_list_wrap ul li em {font-size: 20px; color: #fff; font-weight: 700;}
.section.use .use_list_wrap ul li p {margin-top: 5px; font-size: 12px; line-height: 16px; color: #fff;}
@keyframes fadedown {
    0% {
        opacity: 0;
        bottom: 0px;
    }
}
@keyframes fadeup {
    0% {
        opacity: 0;
        bottom: -40px;
    }
}
@keyframes coinAni {
    100% {
        transform: translate(0) scale(1);
        opacity: 1;
    }
}
@keyframes infinity {
    0% {
        transform: translateX(-50%) rotate3d(0, 100, -20, 0deg);
    }
    100% {
        transform: translateX(-50%) rotate3d(0, 100, -20, 360deg);
    }
}
@keyframes arrowMove {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}