@charset "utf-8"; 

/* main */
.main .content_area {padding-bottom: 0;}
.main .header {position: absolute; top: 0; left: 0; width: 100%; z-index: 10;}
.main .header_inner {justify-content: center;}
.main .header_inner .header_title .page_title {padding: 0; color: #fff; font-weight: 500; font-size: 20px;}
.main_swiper {background: #333; height: 600px;}
.main_swiper .swiper-slide {position: relative;}
.main_swiper .swiper-slide > a {display: block; height: 100%; width: 100%;}
.main_swiper .swiper_cont {position: relative; display: flex; align-items: center; justify-content: center; height: 100%;}
.main_swiper .swiper_cont h3 {color: #fff; font-size: 30px; text-align: center;}
.main_swiper .img_area {position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden;}
.main_swiper .img_area img {position: absolute; top: 0; left: 0; min-width: 430px; min-height: 600px;}
.main_swiper .swiper-button-prev, .swiper-button-next {width: 50px; height: 50px; background: rgba(255,255,255,.3); border-radius: 50%; color: #fff;}
.main_swiper .swiper-button-prev:after, .swiper-button-next:after {font-size: 20px;}
.main_cont {position: relative; margin-top: -120px; z-index: 1;}

/* sale list */
.sale_list_wrap {padding: 40px 20px 160px; background: #f7f7f7; border-radius: 30px 30px 0 0;}
.sale_list_wrap .sub_tit_wrap {display: flex; justify-content: space-between; align-items: center;} 
.search_wrap + .sale_list_wrap {margin-top: 30px;}

/* item_list */
.item_wrap {margin-top: 20px;}
.item_wrap[class*="row"] {display: grid; gap: 20px;}
.item_wrap[class*="row"][class*="_1"] {grid-template-columns: 1fr;}
.item_wrap[class*="row"][class*="_2"] {grid-template-columns: repeat(2, 1fr);}
.item_wrap .item {position: relative; border-radius: 10px; overflow: hidden;}
.item_wrap .item .item_img {position: relative; overflow: hidden; padding-bottom: 65%;} 
.item_wrap .item .item_img img {position: absolute; top: 0; left: 50%; transform: translate(-50%, 0); width: 100%;}
.item_wrap .item .item_info {padding: 20px; background: #fff;}
.item_wrap .item .item_info .nft_name {font-size: 18px; color: #6166FF; font-weight: 500;}
.item_wrap .item .item_info .char_name {display: flex;}
.item_wrap .item .item_info .char_name > p {margin-top: 3px; font-size: 14px; color: #555;}
.item_wrap .item .item_info .char_name > p + p::before {content: '|'; display: inline-block; margin: 0 5px; font-size: 5px; vertical-align: 3px;}
.item_wrap .item .item_info .ip_name {margin-top: 15px; font-size: 13px; color: #999;}
.item_wrap .item .item_info .point_area {width: 100%; text-align: right;}
.item_wrap .item .item_info .point_area .result_num {font-size: 16px; color: #999;}
.item_wrap .item .item_info .point_area .result_num > span {padding-right: 3px; color: #999;}
.item_wrap .item .item_info .point_area .value {font-size: 18px; color: #555;}
.item_wrap .item .item_info .point_area .value > span {padding-right: 5px; font-size: 30px; font-weight: 700;}
.item_wrap .item .status_badge {position: absolute; top: 15px; left: 15px; z-index: 1;}
.item_wrap .item .status_badge span {padding: 4px 10px; font-size: 13px; color: #fff; border-radius: 3px;}
.item_wrap .item.on_sale .status_badge span {background: #000;}
.item_wrap .item.end_sale .status_badge span {background: #BF0000;}
.item_wrap .item.wait .status_badge span {background: #555;}
.item_wrap .item.end_sale::before{content: ''; display: block; position: absolute; top: 50%; right: 20px; transform: translateY(-50%); width: 80px; height: 80px; background: url('../img/market/ico_soldout_badge.png')no-repeat; z-index: 1; background-size: 100%;}
.item_wrap + .btn_group {margin-top: 40px;}

/* login area */
.login_area .logo_title {display: block; padding: 50px 0 60px; margin: 0 auto; width: 162px; text-align: center;}
.login_area .login_sns_area {margin-top: 50px;}
.login_area .login_sns_area .tit_area {position: relative; width: 100%; margin: 0 auto; text-align: center;}
.login_area .login_sns_area .tit_area > span {position: relative; margin: 0 auto; padding: 0 15px; text-align: center; color: #888; background: #fff; z-index: 2;}
.login_area .login_sns_area .tit_area:after {content: ''; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 1px; background: #ddd; z-index: 1;}
.login_area .board_form .form_group .btn_group {margin-top: 30px;}
.login_area .board_form .form_group .input_group .input_text {border-radius: 10px; border: 1px solid #eee;}

/* temporary_pw */
.publish_info ul > li {display: flex;}
.publish_info ul > li + li {margin-top: 10px;}
.publish_info ul > li > p {width: 120px; color: #888;}
.publish_info ul > li > span {margin-left: 20px; font-weight: 500;}
.publish_info + .btn_group {margin-top: 30px;}

/* my */
.my_info .header {background: #6166FF;}
.my_info .header .page_title {color: #fff;}
.my_info .header .header_title i[class^="ico"][class*="arr"][class*="left"]:before {width: 10px; height: 20px; background: url('../img/common/ico_arr_left_wh.png')no-repeat; background-size: 10px;}
.info_wrap {position: relative;}
.info_wrap .info_header {display: flex; justify-content: space-between; align-items: center; padding: 70px 20px 100px 20px; background: #6166FF;}
.info_wrap .info_header .user_info {display: flex; align-items: center;}
.info_wrap .info_header .user_info .user_id {margin-left: 10px;}
.info_wrap .info_header .user_info .user_id p {font-size: 24px; font-weight: 500; color: #fff;}
.info_wrap .info_header .user_info .user_id span {display: inline-block; margin-top: 3px; font-size: 16px; font-weight: 400; color: #fff;}
.info_wrap .info_header .user_profile {width: 60px;}
.info_wrap .info_header .info_setting {width: 30px; height: 30px;}
.info_wrap .ddp_wrap {margin-top: -80px; padding: 20px; background: #fff; border-radius: 20px; box-shadow: 3px 3px 10px rgba(0,0,0,.1)}
.info_wrap .ddp_wrap .tit {font-size: 14px;}
.info_wrap .ddp_wrap .my_point {margin-top: 10px; width: 100%; text-align: right; text-transform: uppercase; font-size: 20px; box-shadow: ;}
.info_wrap .ddp_wrap .my_point span {padding-right: 5px; font-size: 35px; font-weight: 700; text-align: right;}
.info_wrap .ddp_wrap .bot_area {display: flex; justify-content: space-between; align-items: center; margin-top: 20px;}
.info_wrap .ddp_wrap .bot_area .charge span {padding-right: 5px; color: #6166FF; font-weight: 500;}
.info_wrap .ddp_wrap .bot_area .money {font-size: 14px;}
.info_wrap .ddp_wrap .bot_area .money span {padding-right: 3px; font-size: 18px;}
.inner_wrap .gnb_list_wrap {margin-top: 30px;}
.inner_wrap .gnb_list_wrap + .gnb_list_wrap {padding-top: 30px; border-top: 1px solid #ddd;}
.inner_wrap .gnb_list_wrap .gnb_tit .tit::before {content: ''; display: inline-block; margin: -3px 5px 0 0; width: 3px; height: 14px; background: #6166FF; border-radius: 3px; vertical-align: middle;}
.inner_wrap .gnb_list_wrap .order_list {display: grid; grid-template-columns: repeat(3, 1fr); gap: 30px; margin-top: 30px; font-size: 15px; font-weight: 500;}
.inner_wrap .gnb_list_wrap .order_list li {text-align: center;}
.inner_wrap .gnb_list_wrap .order_list li .icon {margin: 0 auto 5px; width: 30px;}
.inner_wrap .gnb_list_wrap .notice_list {margin-top: 20px; padding: 0 10px;}
.inner_wrap .gnb_list_wrap .notice_list li {font-size: 15px; font-weight: 500;}
.inner_wrap .gnb_list_wrap .notice_list li + li {margin-top: 20px;}
.info_wrap .logout_btn {position: absolute; top: 20px; right: 20px;}
.info_wrap .logout_btn span {padding-left: 35px; font-size: 18px; vertical-align: -webkit-baseline-middle; color: #fff;}
.info_wrap.modify .info_header {padding: 50px 0; margin-bottom: 40px;}
.info_wrap.modify .info_header .my_profile {margin: 0 auto; width: 80px; height: 80px; border-radius: 50%; background: #fff; border: 5px solid #CDCEFF; font-size: 35px; text-align: center; line-height: 70px;}