@charset "utf-8"; 

/*========================================================
Reset
========================================================*/
html{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; /*-ms-touch-action:none;*/ }
html,body{height:100%; font-size:16px; font-weight:400; overflow-x: hidden; /*letter-spacing:-.25px;*/ line-height:1.4; font-family:'Noto Sans KR', sans-serif; word-break:keep-all;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-webkit-tap-highlight-color:transparent;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, select {margin:0; padding:0; border:0; vertical-align:baseline; -webkit-font-smoothing:antialiased; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; color:#333; letter-spacing: -0.025em; line-height: 1.2; outline: none;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section{display:block;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:''; content:none;}
table{border-collapse:collapse; border-spacing:0;}
table td,table th{word-break: keep-all; word-wrap: break-word;}
address, caption, cite, code, dfn, em, strong, th, var{font-style:normal;}
hr{display:block; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; height:1px; border:0; border-top:1px solid #b5b1b2; margin:0; padding:0; overflow:visible;}
a{background:transparent; text-decoration:none; color:inherit;}
a:hover, a:active, input {text-decoration:none; outline:0;}
address, caption, strong[lang=en], em, cite, b {font-weight:normal; font-style:normal; }
sub, sup{font-size:75%; line-height:0; position:relative; vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
legend{position:absolute; left:-99999px; display:block; width:1px; height:1px; overflow:hidden; text-indent:-99999px; clip:rect(0,0,0,0); *display:none;}
caption{visibility:hidden; overflow:hidden; width:0;height:0;font-size:0;line-height:0}
fieldset, img{border:0}
select, input, textarea {vertical-align:middle; } /* 20200821 label, 삭제 */
img{max-width: 100%; vertical-align: top;}
button{border: 0; background: none; padding: 0; margin: 0;}

.wrap {position: relative;}

/* skip navigation */
.skip_navi a {position: absolute; top: -999em;}
.skip_navi a:focus {display: block; left: 0; top: 0; z-index: 9999; width: 100%; height: 30px; line-height: 30px; background: #e32c51; color: #fff; text-align: center;}

/* 경고, 에러, 유효성체크 */
.valid{color:#0082ff; font-size:13px;}
.error{color:#e44d4d; font-size:13px;}
.btn_group + .error {margin-top: 5px;}
/* 웹접근성 */
.a11y {position: absolute; top: -999em;}

/* dim */
.dim {position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0,0,0,.7); z-index: 110;}

/* txt_weight */
.text_b {font-weight: 700;}

/* txt_color */
.col_red {color:#e44d4d;}

/* titwrap */
.tit_wrap {margin: 40px 0 50px;}
.tit_wrap h3.tit {font-size: 24px; font-weight: 500; line-height: 1.5;}
.sub_tit_wrap h4.tit {font-size: 18px;}

/* gray_box */
.gray_box {padding: 30px; border-radius: 10px; background: #f7f7f7;}

/* inner_txt */
.inner_txt > p {font-size: 16px; line-height: 1.3;}

/* contents */
.content_area {padding-bottom: 100px;}
.inner_wrap {padding: 0 20px;}

/* fixed bottom */
.fixed_bottom_area {position: fixed; right: 15px; bottom: 80px; z-index: 99; opacity: 0; transition: all .3s ease-in-out;}
.fixed_bottom_area.on {opacity: 1;}
.fixed_bottom_area .fixed_item button {width: 50px; height: 50px; border-radius: 50px; background: rgba(0,0,0,.8);}
.fixed_bottom_area .fixed_item button > span {color: #fff;}

/* header */
.header {height: 60px;}
.header .header_wrap {height: 100%;}
.header .header_inner {display: flex; justify-content: space-between; align-items: center; padding: 0 20px; height: 100%;}
.header .header_inner .header_title {display: flex; align-items: center;}
.header .header_inner .header_title .page_title {padding-left: 20px; font-size: 16px; font-weight: 500;}
.header .header_inner .header_menu .btn_menu {width: 30px; height: 30px; position: relative;}
.header .header_inner .header_menu .btn_menu:before,
.header .header_inner .header_menu .btn_menu:after {content: ''; display: block; position: absolute; top: 0; right: 15px; width: 3px; height: 30px; background: #333; transition: all .2s ease-in-out; z-index: 101;}
.header .header_inner .header_menu .btn_menu:before {top: -5px; transform: rotate(90deg);}
.header .header_inner .header_menu .btn_menu:after {top: 5px; transform: rotate(-90deg);}
.header .header_inner .header_menu .btn_menu.on:before {top: 0; transform: rotate(45deg); background: #fff;}
.header .header_inner .header_menu .btn_menu.on:after {top: 0; transform: rotate(-45deg);  background: #fff;}
.gnb_menu_wrap {position: absolute; top: 0; right: -100vw; width: 100vw; height: 100vh; background: #fff; z-index: 100; transition: right .3s ease-in-out;}
.gnb_menu_wrap.on {right: 0;}

/* board_form */
.board_form .form_group .form_head .form_label {font-size: 14px; font-weight: 500;}
.board_form .form_group .input_group {position: relative;}
.board_form .form_group .input_group .input_text {padding: 15px 10px; font-size: 16px; border-bottom: 1px solid #ddd;}
.board_form .form_group .input_group .input_text::placeholder {font-size: 14px; color: #ddd;}
.board_form .form_group .input_group .valid {display: none; margin-top: 8px; font-size: 13px; color: #FF7582;}
.board_form .form_group .input_group .possible {display: none; margin-top: 8px; font-size: 13px; color: #3c8aff;}
.board_form .form_group .input_group.error .possible,
.board_form .form_group .input_group.error .valid {display: block;}
.board_form .form_group .split_group {display: flex; gap: 20px;}
.board_form .form_group .split_group .split_item {flex: 1;}
.board_form .form_group .split_group + .form_head {margin-top: 20px;}
.board_form .form_group .split_group + .input_group {margin-top: 20px;}
.board_form .form_group .input_group + .split_group {margin-top: 20px;}
.board_form .form_group .form_head + .input_group {margin-top: 5px;}
.board_form .form_group .input_group + .input_group {margin-top: 20px;}
.board_form .form_group .input_group + .form_head {margin-top: 20px;}
.input_group + .btn_group {margin-top: 50px;}
.board_form + .agree_area {margin-top: 40px;}

/* select */
.sort_select select {padding: 7px 8px; border: 1px solid #ddd; font-size: 13px; outline: none;}
/* input */
[class^="input_group"] > input {width: 100%;}
[class^="input_group"] > input[type="password"] {font-family: Verdana; letter-spacing: 0.125em;}
[class^="input_group"][class*="w_full"] .input_text {width: 100%;}
[class^="input_group"][class*="auth"] > input {padding-right: 70px;}
[class^="input_group"][class*="auth"] [class^="btn"] {position: absolute; top: 10px; right: 0; padding: 7px 10px 5px;}
[class^="input_group"][class*="auth"] [class^="btn"] > span {font-size: 13px; font-weight: 500;}
[class^="input_group"] > input:disabled {background: #f5f5f5; color: #999;}
/* btns */
.btn_group {width: 100%;}
.btn_group[class*="alignC"] {text-align: center;}
.btn_group[class*="row3"] {display: grid; grid-template-columns: 2fr 1fr 1fr; gap: 5px;}
.btn_group[class*="row3"] button {margin: 0;}
.btn_group button + button {margin-top: 10px;}
[class^="btn"] {display: inline-block; cursor: pointer;}
[class^="btn"] > span {font-size: 16px; font-weight: 500;}
[class^="btn"][class*="round"] {border-radius: 10px;}
[class^="btn"][class*="round30"] {border-radius: 30px;}
[class^="btn"][class*="wfull"] {width: 100%;}
[class^="btn"][class*="w180"] {width: 180px;}
[class^="btn"][class*="w120"] {width: 120px;}
[class^="btn"][class*="h60"] {height: 60px; line-height: 60px;}
[class^="btn"][class*="h60"] > span {font-size: 18px;}
[class^="btn"][class*="h50"] {height: 50px; line-height: 50px;}
[class^="btn"][class*="h40"] {height: 40px; line-height: 40px;}
[class^="btn"][class*="point"] {background: #6166FF;}
[class^="btn"][class*="point"] > span {color: #fff;}
[class^="btn"][class*="del"] {background: #999;}
[class^="btn"][class*="del"] > span {color: #fff;}
[class^="btn"][class*="modi"] {background: #555;}
[class^="btn"][class*="modi"] > span {color: #fff;}
[class^="btn"][class*="wh"] {background: #fff;}
[class^="btn"][class*="wh"] > span {color: #333;}
[class^="btn"][class*="bk"] {background: #333;}
[class^="btn"][class*="bk"] > span {color: #fff;}
[class^="btn"][class*="more"] > span {color: #555;}
[class^="btn"][class*="disabled"] {background: #F5F5F5;}
[class^="btn"][class*="disabled"] > span {color: #ddd;}

/* tooltip */
.tooltip {position: relative; margin-left: 5px;}
.tooltip:before {content: '?'; display: inline-block; position: relative; width: 14px; height: 14px; background: #333; border-radius: 50%; color: #fff; font-size: 10px; line-height: 14px; vertical-align: 2px;}
.tooltip > span {display: none; position: absolute; top: -4px; left: 22px; padding: 5px 6px 3px; min-width: 130px; color: #fff; background: #333; border-radius: 3px; font-size: 12px; line-height: 18px;}
.tooltip.on > span {display: block}
.tooltip > span:before {content: ''; display: inline-block; position: absolute; top: 8px; left: -3px; width: 7px; height: 7px; transform: rotate(45deg); background: #333;}
/* btn_link list */
.btn_link_group {display: block; margin-top: 20px; width: 100%;}
.btn_link_group .link_btns {display: flex; justify-content: center;}
.btn_link_group .link_btns > li {text-align: center;}
.btn_link_group .link_btns > li + li {margin-left: 10px; padding-left: 10px; border-left: 1px solid #eee;}
.btn_link_group .link_btns > li span {font-size: 14px; color: #888;}

/* tab_wrap */
.box_item + .tab_wrap {margin-top: 20px;}
.tab_wrap .box_item {margin-top: 20px;}
.tab_wrap .tab_btn {display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;}
.tab_wrap .tab_btn > button {height: 50px; line-height: 50px; border: 1px solid #ddd; border-radius: 5px; color: #999;}
.tab_wrap .tab_btn > button.on {border-color: #333; color: #333; font-weight: 500;}
.tab_wrap .tab_cont {display: none;}
.tab_wrap .tab_cont.on {display: block;}

/* sns btns */
.sns_btn_list {display: flex; justify-content: center; gap: 20px; margin-top: 30px; text-align: center;}
.sns_btn_list > li {width: 100%; text-align: center;}
.sns_btn_list .sns_login {display: block;}
.sns_btn_list .sns_login > span {font-size: 13px;}

/* point_note */
.point_note {margin-top: 40px;}
.point_note h4 {font-size: inherit; font-weight: 500;}
.point_note h4 + ul {margin-top: 20px;}
.point_note ul > li {font-size: 13px; line-height: 1.5; color: #888;}

/* dash list */
.dash_list li {position: relative; padding-left: 8px;}
.dash_list li + li {margin-top: 8px;}
.dash_list li:before {content: '-'; display: inline-block; position: absolute; left: 0;}

/* popup */
.pop_container {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff; z-index: 120;}
.pop_container.layer_pop {top: 50%; left: 50%; transform: translate(-50%, -50%); width: calc(100% - 40px); height: auto; padding: 48px 40px; border-radius: 10px;}
.pop_container.layer_pop .pop_inner p {font-size: 16px; text-align: center; line-height: 1.4;}
.pop_container.layer_pop .pop_inner .btn_group {margin-top: 30px;}
.pop_container.full_pop {position: fixed; top: 0; left: 0; overflow-y: auto;}
/* full popup */
.pop_container.full_pop .pop_head {position: relative; padding: 20px 0; width: 100%; background: #fff;}
.pop_container.full_pop .pop_head.sticky {position: sticky; top: 0; left: 0; border-bottom: 1px solid #ddd;}
.pop_container.full_pop .pop_head h2 {text-align: center; font-size: 18px;}
.pop_container.full_pop .tit_wrap {margin: 40px 0 0;}
.pop_container.full_pop .tit_wrap h3 + p { margin-top: 20px; font-size: 13px; line-height: 24px;}
.pop_container.full_pop .pop_inner {padding: 0 20px 80px;}
.pop_container.full_pop .pop_close {position: absolute; top: 20px; right: 20px;}
/* terms */
.terms_cont .tit {margin-top: 40px;}
.terms_cont .tit h4 {font-size: 22px; font-weight: 500;}
.terms_cont .tit h5 {font-size: 20px; font-weight: 500}
.terms_cont .tit h4 + h5 {margin-top: 20px;}
.terms_cont .cont {margin-top: 20px; font-size: 13px; color: #666;}
.terms_cont .cont .sub_tit {margin-top: 30px; font-size: 14px; font-weight: 500;}
.terms_cont .cont p + p {margin-top: 10px;}
.terms_cont .cont li, .terms_cont .cont p {line-height: 22px;}
.terms_cont .cont li {margin-top: 10px;}
.terms_cont .cont > ol ul li {margin-top: 5px;}
.terms_cont .cont > ol > li + li {margin-top: 20px;}

/* check box */
.sub_tit_wrap + .checkbox_wrap {margin-top: 20px;}
.agree_area .checkbox_wrap .check_list {margin-top: 25px; padding-left: 10px;}
.agree_area .ess_txt {margin-top: 40px; font-size: 13px; color: #FF7582;}
.agree_area + .btn_group {margin-top: 50px;}
.gray_box + .checkbox_wrap {margin-top: 40px;}
.checkbox_wrap + .btn_group {margin-top: 50px;}
.checkbox_wrap .radio_check {font-size: 16px; font-weight: 500;}
.checkbox_wrap .radio_check + label > p {margin-top: 3px; padding-left: 24px; font-size: 13px;}
.checkbox_wrap .check_list .item {display: flex; align-items: center; font-size: 15px; font-weight: 500;}
.checkbox_wrap .check_list .item > label > span {display: inline-block; margin-left: 5px; color: #999;}
.checkbox_wrap .check_list .item > label > .ess {color: #FF7582;}
.checkbox_wrap .check_list .item > a {display: inline-block; margin-left: auto; font-size: 13px; color: #999;}
.checkbox_wrap .check_list .item + .item {margin-top: 25px;}
.checkbox_wrap input[type="checkbox"],
.checkbox_wrap input[type="radio"],
.checkbox_wrap .all_check,
.checkbox_wrap .check_list .item input[type="checkbox"] {position: absolute; width: 0; height: 0;}
.checkbox_wrap .all_check + label::before,
.checkbox_wrap .check_list .item input[type="checkbox"] + label:before {content: ''; display: inline-block; margin-right: 7px; width: 18px; height: 18px; background: url('../img/common/ico_checkbox_off.png') no-repeat; background-size: 18px; vertical-align: top;}
.checkbox_wrap .all_check:checked + label::before,
.checkbox_wrap .check_list .item input[type="checkbox"]:checked + label:before {background: url('../img/common/ico_checkbox_on.png') no-repeat; background-size: 18px;}
.checkbox_wrap input[type="radio"] + label:before {content: ''; display: inline-block; margin-right: 7px; width: 18px; height: 18px; background: url('../img/common/ico_radio_off.png') no-repeat; background-size: 18px; vertical-align: top;}
.checkbox_wrap input[type="radio"]:checked + label:before {background: url('../img/common/ico_radio_on.png') no-repeat; background-size: 18px;}
.checkbox_wrap[class*="like_btn"][class*="big"] input[type="checkbox"] + label:before {content: ''; display: inline-block; margin-right: 8px; width: 28px; height: 26px; background: url('../img/common/ico_like_off.png')no-repeat; background-size: 100%; vertical-align: middle;}
.checkbox_wrap[class*="like_btn"][class*="big"] input[type="checkbox"]:checked + label:before {content: ''; display: inline-block; margin-right: 8px; width: 28px; height: 26px; background: url('../img/common/ico_like_on.png')no-repeat; background-size: 100%; vertical-align: middle;}
.checkbox_wrap[class*="like_btn"] input[type="checkbox"] + label:before {content: ''; display: inline-block; margin-right: 5px; width: 18px; height: 16px; background: url('../img/common/ico_like_off.png')no-repeat; background-size: 100%; vertical-align: -2px;}
.checkbox_wrap[class*="like_btn"] input[type="checkbox"] + label {font-size: 18px; line-height: 50px;}
.checkbox_wrap[class*="like_btn"] input[type="checkbox"]:checked + label:before {content: ''; display: inline-block; margin-right: 5px; width: 18px; height: 16px; background: url('../img/common/ico_like_on.png')no-repeat; background-size: 100%; vertical-align: -2px;}
.checkbox_wrap .slide_check + label {position: relative; display: block; width: 100%; font-size: 14px;}
.checkbox_wrap .slide_check + label:before {content: ''; display: inline-block; position: absolute; top: -6px; right: 0; width: 57px; height: 29px; background: #ddd; border-radius: 30px; transition: all .2s ease-in-out;}
.checkbox_wrap .slide_check + label::after {content: ''; display: inline-block; position: absolute; right: 30px; top: -4px; width: 25px; height: 25px; background: #fff; border-radius: 50%; transition: all .2s ease-in-out;}
.checkbox_wrap .slide_check:checked + label:before {content: ''; display: inline-block; position: absolute; top: -6px; right: 0; width: 57px; height: 29px; background: #6166FF; border-radius: 30px;}
.checkbox_wrap .slide_check:checked + label::after {content: ''; display: inline-block; position: absolute; right: 2px; top: -4px; width: 25px; height: 25px; background: #fff; border-radius: 50%;}

/* search_bar */
.search_wrap {position: relative; margin: 40px 20px 0;}
.search_wrap .search_bar {width: 100%; height: 50px; padding: 0 50px 0 45px; border-radius: 30px; font-size: 16px; line-height: 50px; background: url('../img/common/ico_search.png')no-repeat 10px center; background-size: 27px; background-color: #f7f7f7;}
.search_wrap .remove_btn {display: none; position: absolute; top: 50%; right: 10px; transform: translateY(-50%); width: 30px; height: 30px; background: #000; border-radius: 50%;}
.search_wrap .remove_btn::before,
.search_wrap .remove_btn::after {content: ''; display: inline-block; position: absolute; top: 8px; right: 14px; width: 2px; height: 14px; background: #fff; border-radius: 3px;}
.search_wrap .remove_btn::before {transform:rotate(-45deg);}
.search_wrap .remove_btn::after {transform:rotate(45deg);}
.search_wrap + .inner_wrap {margin-top: 40px;}

/* follow gnb */
.follow_gnb_bar {display: block; position: fixed; bottom: -65px; left: 0; width: 100%; height: 65px; background: #fff; border-top: 1px solid #ddd; z-index: 10; transition: all .3s ease-in-out;}
.follow_gnb_bar.on {bottom: 0;}
.follow_gnb_bar .gnb_list_wrap {display: flex; justify-content: space-around; align-items: center; height: 100%;}
.follow_gnb_bar .gnb_list_wrap li {font-size: 10px; font-weight: 500; text-align: center;}
.follow_gnb_bar .gnb_list_wrap li span:before {content: ''; display: block; padding-top: 3px; margin: 0 auto; width: 30px; height: 30px;}
.follow_gnb_bar .gnb_list_wrap li:nth-child(1) span:before {background: url('/mo/img/common/ico_gnb_opensale.png')no-repeat; background-size: 100%;}
.follow_gnb_bar .gnb_list_wrap li:nth-child(2) span:before {background: url('/mo/img/common/ico_market_place.png')no-repeat; background-size: 100%;}
.follow_gnb_bar .gnb_list_wrap li:nth-child(3) span:before {background: url('/mo/img/common/ico_gnb_like.png')no-repeat; background-size: 100%;}
.follow_gnb_bar .gnb_list_wrap li:nth-child(4) span:before {background: url('/mo/img/common/ico_gnb_mynft.png')no-repeat; background-size: 100%;}
.follow_gnb_bar .gnb_list_wrap li:nth-child(5) span:before {background: url('/mo/img/common/ico_gnb_myinfo.png')no-repeat; background-size: 100%;}

/* 검색결과없음 */
.no_result_wrap {margin-top: 20px; padding: 50px 0 50px; border-top: 1px solid #333;}
.no_result_wrap .btn_group {margin-top: 20px;}
.no_result_wrap .btn_group button {border: 1px solid #ddd;}
.no_result_wrap .btn_group span {padding-right: 10px; color: #999;}
.no_result_wrap .result_txt {text-align: center;}
.no_result_wrap .result_txt .search_txt:before,
.no_result_wrap .result_txt .search_txt:after {content: '"'; display: inline-block;}
.no_result_wrap .result_txt .search_txt {padding: 5px;}

/* accordian */
.board_form + .accord_wrap {margin-top: 50px;}
.accord_wrap .accord_item .accord_btn {display: block; padding: 10px 0; width: 100%; background: url('../img/common/ico_arr_down.png')no-repeat; background-size: 15px; background-position: calc(100% - 10px); text-align: left; border-bottom: 1px solid #333;}
.accord_wrap .accord_item .accord_btn.on {background: url('../img/common/ico_arr_up.png')no-repeat; background-size: 15px; background-position: calc(100% - 10px);}
.accord_wrap .accord_item .accord_btn > p {font-size: 16px; font-weight: 500;}
.accord_wrap .accord_item .accord_btn + .accord_cont {display: none; margin-top: 30px;}

/* footer */
.footer {background: #333;}
.footer .footer_inner {padding: 30px 20px 100px;}
.footer .footer_inner .footer_head {display: flex; align-items: center; justify-content: space-between;}
.footer .footer_inner .footer_head .office_name p {font-size: 18px; font-weight: 500; color: #fff;}
.footer .footer_inner .footer_head .footer_btn_wrap .sns_btns {display: flex; justify-content: flex-end;}
.footer .footer_inner .footer_head .footer_btn_wrap .sns_btns li > a {display: block;}
.footer .footer_inner .footer_head .footer_btn_wrap .sns_btns li + li {margin-left: 10px;}
.footer .footer_inner .footer_info .footer_sort_list {margin-top: 40px;}
.footer .footer_inner .footer_info .footer_sort_list li {display: flex; font-size: 13px;}
.footer .footer_inner .footer_info .footer_sort_list li + li {margin-top: 6px;}
.footer .footer_inner .footer_info .footer_sort_list .tit {font-weight: 500; color: #ddd;}
.footer .footer_inner .footer_info .footer_sort_list .txt {padding-left: 10px; color: #ddd;}
.footer .footer_inner .footer_info .footer_sort_list .txt:before {content: ''; display: inline-block; margin-right: 10px; width: 1px; height: 10px; background: #555;}
.footer .footer_inner .footer_menu .copy {margin-top: 30px; font-size: 12px; color: #ddd;}
.footer .footer_inner .footer_menu {margin-top: 20px; padding-top: 20px; border-top: 1px solid #555;}
.footer .footer_inner .footer_menu .footer_menu_list {display: flex; justify-content: space-between;}
.footer .footer_inner .footer_menu .footer_menu_list li span {position: relative; font-size: 12px; color: #fff; border-bottom: 1px solid #ddd;}

/* ico */
span + i[class^="ico"] {margin-left: 5px;}
i[class^="ico"] {position: relative;}
i[class^="ico"]:before {content: ''; display: inline-block; position: absolute; left: 50%; top: 0; transform: translateX(-50%);}
i[class^="ico"][class*="login"] {display: block; width: 54px; height: 54px; margin: 0 auto 6px;}
i[class^="ico"][class*="login"]:before {width: 54px; height: 54px;}
i[class^="ico"][class*="login"][class*="kakao"]:before {background: url('../img/common/ico_login_kakao.png')no-repeat; background-size: 54px;}
i[class^="ico"][class*="login"][class*="naver"]:before {background: url('../img/common/ico_login_naver.png')no-repeat; background-size: 54px;}
i[class^="ico"][class*="login"][class*="google"]:before {background: url('../img/common/ico_login_google.png')no-repeat; background-size: 54px;}
i[class^="ico"][class*="sns"] {display: block; width: 28px; height: 28px;}
i[class^="ico"][class*="sns"]:before {width: 28px; height: 28px;}
i[class^="ico"][class*="sns"][class*="facebook"]:before {background: url('../img/common/ico_sns_facebook.png')no-repeat; background-size: 28px;;}
i[class^="ico"][class*="sns"][class*="insta"]:before {background: url('../img/common/ico_sns_insta.png')no-repeat; background-size: 28px;;}
i[class^="ico"][class*="sns"][class*="youtube"]:before {background: url('../img/common/ico_sns_youtube.png')no-repeat; background-size: 28px;;}
i[class^="ico"][class*="arr"]:before {content: ''; display: inline-block; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
i[class^="ico"][class*="arr"][class*="left"]:before {width: 10px; height: 20px; background: url('../img/common/ico_arr_left.png')no-repeat; background-size: 10px;} 
i[class^="ico"][class*="arr"][class*="right"]:before {width: 10px; height: 20px; background: url('../img/common/ico_arr_right.png')no-repeat; background-size: 10px;} 
i[class^="ico"][class*="arr"][class*="down"]:before {width: 12px; height: 7px; background: url('../img/common/ico_arr_down.png')no-repeat; background-size: 100%;} 
i[class^="ico"][class*="arr"][class*="right"][class*="purple"]:before {width: 8px; height: 13px; background: url('../img/common/ico_arr_right_pp.png')no-repeat; background-size: 100%;} 
i[class^="ico"][class*="arr"][class*="sm"]:before {background: url('../img/common/ico_arr_right_xs.png')no-repeat 100%; background-size: 8px;} 
i[class^="ico"][class*="close"]:before {width: 24px; height: 24px; background: url('../img/common/ico_close_btn.png')no-repeat; background-size: 100%;}
i[class^="ico"][class*="setting"]:before {left: 0; transform: translate(0); width: 30px; height: 30px; background: url('../img/common/ico_setting.png')no-repeat; background-size: 100%;}
i[class^="ico"][class*="logout"]:before {left: 0; transform: translate(0); width: 30px; height: 30px; background: url('../img/my/ico_logout_wt.png')no-repeat; background-size: 100%;}
i[class^="ico"][class*="search"]:before {content:''; display: inline-block; top: -5px; width: 20px; height: 20px; background: url('../img/common/ico_search.png')no-repeat; background-size: 100%;}